# Local MongoDB
MONGODB_URI="mongodb://127.0.0.1:27017/lifeflow"

# MongoDB Atlas (recommended for Vercel free tier):
# MONGODB_URI="mongodb+srv://USER:PASSWORD@CLUSTER.mongodb.net/lifeflow?retryWrites=true&w=majority"

AUTH_SECRET="generate-with-openssl-rand-base64-32"
AUTH_URL="http://localhost:3000"
NEXTAUTH_URL="http://localhost:3000"
